Repository eikek/docspell, pull requests merged in 2021-04, with the labels that each got.

#754 Reduce not expressions
  modules/query/shared/src/main/scala/docspell/query/internal/ExprUtil.scala
  modules/store/src/test/scala/docspell/store/generator/ItemQueryGeneratorTest.scala
Labels: bug

#755 Fix category count
  .mergify.yml
  modules/backend/src/main/scala/docspell/backend/ops/OCollective.scala
  modules/restapi/src/main/resources/docspell-openapi.yml
  modules/restserver/src/main/scala/docspell/restserver/conv/Conversions.scala
  modules/store/src/main/scala/docspell/store/qb/DBFunction.scala
  modules/store/src/main/scala/docspell/store/qb/DSL.scala
  modules/store/src/main/scala/docspell/store/qb/impl/DBFunctionBuilder.scala
  modules/store/src/main/scala/docspell/store/queries/CategoryCount.scala
  modules/store/src/main/scala/docspell/store/queries/QItem.scala
  modules/store/src/main/scala/docspell/store/queries/SearchSummary.scala
  modules/store/src/main/scala/docspell/store/queries/TagCount.scala
  modules/webapp/src/main/elm/Comp/SearchMenu.elm
  modules/webapp/src/main/elm/Comp/TagSelect.elm
Labels: bug, restserver

#767 Update kittens to 2.2.2
  project/Dependencies.scala
Labels: type: dependencies

#769 Update flyway-core to 7.8.0
  project/Dependencies.scala
Labels: type: dependencies

#770 Update flyway-core to 7.8.1
  project/Dependencies.scala
Labels: type: dependencies

#771 Update pureconfig to 0.15.0
  project/Dependencies.scala
Labels: type: dependencies

#773 Update swagger-ui to 3.47.1
  project/Dependencies.scala
Labels: type: dependencies

#774 Update munit, munit-scalacheck to 0.7.25
  project/Dependencies.scala
Labels: type: dependencies

#775 Update doobie-core, doobie-hikari to 0.13.0
  project/Dependencies.scala
Labels: type: dependencies

#777 Update scala-java-time to 2.2.2
  project/Dependencies.scala
Labels: type: dependencies

#778 Update postgresql to 42.2.20
  project/Dependencies.scala
Labels: type: dependencies

#779 Update fs2-core, fs2-io to 2.5.5
  project/Dependencies.scala
Labels: type: dependencies

#781 Update imageio-jpeg, imageio-tiff to 3.7.0
  project/Dependencies.scala
Labels: type: dependencies

#783 Update doobie-core, doobie-hikari to 0.13.1
  project/Dependencies.scala
Labels: type: dependencies

#782 Update sbt to 1.5.1
  project/build.properties
Labels: type: dependencies

#785 Update flyway-core to 7.8.2
  project/Dependencies.scala
Labels: type: dependencies

#786 Update swagger-ui to 3.48.0
  project/Dependencies.scala
Labels: type: dependencies
