Repository eikek/docspell, pull requests merged in 2021-06, with the labels that each got.

#845 Update sbt to 1.5.3
  project/build.properties
Labels: type: dependencies

#850 Update flyway-core to 7.9.2
  project/Dependencies.scala
Labels: type: dependencies

#851 Don't use jq to clean whitespace/quotes
  tools/download-files/download-files.sh
  tools/export-files/export-files.sh
Labels: bug, tools

#853 Update swagger-ui to 3.50.0
  project/Dependencies.scala
Labels: type: dependencies

#854 Update calev-circe, calev-core, calev-fs2 to 0.5.0
  project/Dependencies.scala
Labels: type: dependencies

#860 Update sbt-scalajs, scalajs-compiler, ... to 1.6.0
  project/plugins.sbt
Labels: type: dependencies

#865 Update pureconfig to 0.16.0
  project/Dependencies.scala
Labels: type: dependencies

#866 Update flyway-core to 7.10.0
  project/Dependencies.scala
Labels: type: dependencies

#869 Update postgresql to 42.2.21
  project/Dependencies.scala
Labels: type: dependencies

#874 Api docs fixes and nicer design
  build.sbt
  modules/joexapi/src/main/resources/joex-openapi.yml
  modules/restapi/src/main/resources/docspell-openapi.yml
  project/plugins.sbt
  website/site/content/docs/dev/development.md
Labels: documentation

#875 Update commons-io to 2.10.0
  project/Dependencies.scala
Labels: type: dependencies

#876 Update sbt to 1.5.4
  project/build.properties
Labels: type: dependencies

#870 Some small corrections and ideas for the German translation
  modules/webapp/src/main/elm/Messages/Comp/AttachmentMeta.elm
  modules/webapp/src/main/elm/Messages/Comp/CalEventInput.elm
  modules/webapp/src/main/elm/Messages/Comp/ClassifierSettingsForm.elm
  modules/webapp/src/main/elm/Messages/Comp/CollectiveSettingsForm.elm
  modules/webapp/src/main/elm/Messages/Comp/CustomFieldForm.elm
  modules/webapp/src/main/elm/Messages/Comp/CustomFieldInput.elm
  modules/webapp/src/main/elm/Messages/Comp/DetailEdit.elm
  modules/webapp/src/main/elm/Messages/Comp/EquipmentForm.elm
  modules/webapp/src/main/elm/Messages/Comp/EquipmentManage.elm
  modules/webapp/src/main/elm/Messages/Comp/FolderDetail.elm
  modules/webapp/src/main/elm/Messages/Comp/HttpError.elm
  modules/webapp/src/main/elm/Messages/Comp/OrgTable.elm
  modules/webapp/src/main/elm/Messages/Comp/ScanMailboxForm.elm
  modules/webapp/src/main/elm/Messages/Comp/SearchMenu.elm
  modules/webapp/src/main/elm/Messages/Comp/SourceForm.elm
  modules/webapp/src/main/elm/Messages/Comp/SourceManage.elm
  modules/webapp/src/main/elm/Messages/Comp/UiSettingsForm.elm
Labels: webui

#882 Update sbt-openapi-schema to 0.8.1
  project/plugins.sbt
Labels: type: dependencies

#883 Update postgresql to 42.2.22
  project/Dependencies.scala
Labels: type: dependencies

#884 Update calev-circe, calev-core, calev-fs2 to 0.5.2
  project/Dependencies.scala
Labels: type: dependencies

#889 Update jcl-over-slf4j, jul-to-slf4j to 1.7.31
  project/Dependencies.scala
Labels: type: dependencies

#893 Update calev-circe, calev-core, calev-fs2 to 0.5.3
  project/Dependencies.scala
Labels: type: dependencies

#895 Move webapp related build files into the webapp directory
  .github/workflows/ci.yml
  .github/workflows/release-nightly.yml
  .github/workflows/release.yml
  modules/webapp/elm-analyse.json
  modules/webapp/elm-package.json
  modules/webapp/elm.json
  modules/webapp/package-lock.json
  modules/webapp/package.json
  modules/webapp/postcss.config.js
  modules/webapp/tailwind.config.js
  project/StylesPlugin.scala
Labels: complexity

#897 Update sbt-release to 1.1.0
  project/plugins.sbt
Labels: type: dependencies

#898 Fix select next job
  build.sbt
  modules/restserver/src/main/scala/docspell/restserver/Config.scala
  modules/restserver/src/main/scala/docspell/restserver/http4s/ClientRequestInfo.scala
  modules/store/src/main/scala/docspell/store/qb/Condition.scala
  modules/store/src/main/scala/docspell/store/qb/DSL.scala
  modules/store/src/main/scala/docspell/store/qb/impl/ConditionBuilder.scala
  modules/store/src/main/scala/docspell/store/queries/QJob.scala
  modules/store/src/main/scala/docspell/store/records/RJobGroupUse.scala
  modules/store/src/test/resources/logback-test.xml
  modules/store/src/test/scala/docspell/store/StoreFixture.scala
  modules/store/src/test/scala/docspell/store/queries/QJobTest.scala
  project/Dependencies.scala
  project/dev-ui-build.sh
Labels: bug, joex

#900 Update calev-circe, calev-core to 0.5.4
  project/Dependencies.scala
Labels: type: dependencies
