Repository eikek/docspell, pull requests merged in 2021-07, with the labels that each got.

#904 Update fs2-core, fs2-io to 3.0.5
  project/Dependencies.scala
Labels: type: dependencies

#905 Update flyway-core to 7.11.0
  project/Dependencies.scala
Labels: type: dependencies

#906 Update munit, munit-scalacheck to 0.7.27
  project/Dependencies.scala
Labels: type: dependencies

#907 Update swagger-ui to 3.51.0
  project/Dependencies.scala
Labels: type: dependencies

#908 Update sbt-scalajs-crossproject to 1.1.0
  project/plugins.sbt
Labels: type: dependencies

#913 Update fs2-core, fs2-io to 3.0.6
  project/Dependencies.scala
Labels: type: dependencies

#915 Replace generating preview images with an admin endpoint
  Changelog.md
  modules/backend/src/main/scala/docspell/backend/ops/OItem.scala
  modules/restapi/src/main/resources/docspell-openapi.yml
  modules/restserver/src/main/scala/docspell/restserver/RestServer.scala
  modules/restserver/src/main/scala/docspell/restserver/routes/AttachmentRoutes.scala
  modules/restserver/src/main/scala/docspell/restserver/routes/CollectiveRoutes.scala
  tools/preview/regenerate-previews.sh
  website/site/content/docs/tools/regenerate-previews.md
Labels: restserver

#917 Update postgresql to 42.2.23
  project/Dependencies.scala
Labels: type: dependencies

#916 Update tika-core to 1.27
  project/Dependencies.scala
Labels: type: dependencies

#922 Update swagger-ui to 3.51.1
  project/Dependencies.scala
Labels: type: dependencies

#926 Update flyway-core to 7.11.1
  project/Dependencies.scala
Labels: type: dependencies

#927 Update sbt-scalafmt to 2.4.3
  project/plugins.sbt
Labels: type: dependencies

#928 Update sbt-github-pages to 0.6.0
  project/plugins.sbt
Labels: type: dependencies

#929 Update jsoup to 1.14.1
  project/Dependencies.scala
Labels: type: dependencies

#931 Return a 404 if a source was not found when checking a file
  modules/backend/src/main/scala/docspell/backend/ops/OItemSearch.scala
  modules/restserver/src/main/scala/docspell/restserver/routes/CheckFileRoutes.scala
Labels: bug, restserver

#933 Update sbt to 1.5.5
  project/build.properties
Labels: type: dependencies

#935 Update commons-io to 2.11.0
  project/Dependencies.scala
Labels: type: dependencies

#936 Update flyway-core to 7.11.2
  project/Dependencies.scala
Labels: type: dependencies

#940 Set folder on process
  modules/joex/src/main/scala/docspell/joex/process/SetGivenData.scala
  modules/restapi/src/main/resources/docspell-openapi.yml
  modules/store/src/main/scala/docspell/store/records/RFolder.scala
  modules/store/src/main/scala/docspell/store/records/RItem.scala
Labels: restserver

#945 Update flyway-core to 7.11.3
  project/Dependencies.scala
Labels: type: dependencies

#943 Update logback-classic to 1.2.4
  project/Dependencies.scala
Labels: type: dependencies

#947 Update jcl-over-slf4j, jul-to-slf4j to 1.7.32
  project/Dependencies.scala
Labels: type: dependencies

#949 Make convert-all-pdfs an admin endpoint
  Changelog.md
  modules/backend/src/main/scala/docspell/backend/JobFactory.scala
  modules/backend/src/main/scala/docspell/backend/ops/OItem.scala
  modules/restapi/src/main/resources/docspell-openapi.yml
  modules/restserver/src/main/scala/docspell/restserver/routes/AttachmentRoutes.scala
  modules/restserver/src/main/scala/docspell/restserver/routes/ItemRoutes.scala
Labels: restserver

#952 Update emil-common, emil-doobie, ... to 0.10.0-M2
  project/Dependencies.scala
Labels: type: dependencies

#951 Update bitpeace-core to 0.9.0-M2
  project/Dependencies.scala
Labels: type: dependencies

#944 Update tika-core to 2.0.0
  modules/extract/src/main/java/org/apache/tika/exception/WriteLimitReachedException.java
  modules/extract/src/main/java/org/apache/tika/parser/odf/FlatOpenDocumentMacroHandler.java
  modules/extract/src/main/java/org/apache/tika/parser/odf/NSNormalizerContentHandler.java
  modules/extract/src/main/java/org/apache/tika/parser/odf/OpenDocumentBodyHandler.java
  modules/extract/src/main/java/org/apache/tika/parser/odf/OpenDocumentContentParser.java
  modules/extract/src/main/java/org/apache/tika/parser/odf/OpenDocumentMacroHandler.java
  modules/extract/src/main/java/org/apache/tika/parser/odf/OpenDocumentManifestHandler.java
  modules/extract/src/main/java/org/apache/tika/parser/odf/OpenDocumentMetaParser.java
  modules/extract/src/main/java/org/apache/tika/parser/odf/OpenDocumentParser.java
  modules/extract/src/main/java/org/apache/tika/parser/xml/AbstractMetadataHandler.java
  modules/extract/src/main/java/org/apache/tika/parser/xml/AttributeDependantMetadataHandler.java
  modules/extract/src/main/java/org/apache/tika/parser/xml/AttributeMetadataHandler.java
  modules/extract/src/main/java/org/apache/tika/parser/xml/DcXMLParser.java
  modules/extract/src/main/java/org/apache/tika/parser/xml/ElementMetadataHandler.java
  modules/extract/src/main/java/org/apache/tika/parser/xml/FictionBookParser.java
  modules/extract/src/main/java/org/apache/tika/parser/xml/MetadataHandler.java
  modules/extract/src/main/java/org/apache/tika/parser/xml/TextAndAttributeXMLParser.java
  modules/extract/src/main/java/org/apache/tika/parser/xml/XMLParser.java
  modules/extract/src/main/java/org/apache/tika/utils/StringUtils.java
  modules/extract/src/test/scala/docspell/extract/odf/OdfExtractTest.scala
  modules/files/src/main/scala/docspell/files/TikaMimetype.scala
  project/Dependencies.scala
Labels: type: dependencies

#955 Set tags api
  modules/backend/src/main/scala/docspell/backend/ops/OItem.scala
  modules/restapi/src/main/resources/docspell-openapi.yml
  modules/restserver/src/main/scala/docspell/restserver/routes/ItemMultiRoutes.scala
  modules/restserver/src/main/scala/docspell/restserver/routes/ItemRoutes.scala
  modules/webapp/src/main/elm/Api.elm
  modules/webapp/src/main/elm/Comp/ItemDetail/Update.elm
Labels: restserver

#956 Update flyway-core to 7.11.4
  project/Dependencies.scala
Labels: type: dependencies

#957 Update logback-classic to 1.2.5
  project/Dependencies.scala
Labels: type: dependencies

#958 Allow to use the created timestamp in item queries
  modules/query/shared/src/main/scala/docspell/query/ItemQuery.scala
  modules/query/shared/src/main/scala/docspell/query/internal/AttrParser.scala
  modules/query/shared/src/main/scala/docspell/query/internal/Constants.scala
  modules/query/shared/src/main/scala/docspell/query/internal/MacroParser.scala
  modules/query/shared/src/test/scala/docspell/query/internal/SimpleExprParserTest.scala
  modules/store/src/main/scala/docspell/store/qb/generator/ItemQueryGenerator.scala
  website/site/content/docs/query/_index.md
Labels: restserver

#964 Update viewerjs to 0.5.9
  project/Dependencies.scala
Labels: type: dependencies

#970 Update flyway-core to 7.12.0
  project/Dependencies.scala
Labels: type: dependencies

#971 Allo wildcards when searching by attachment ids
  modules/store/src/main/scala/docspell/store/qb/generator/ItemQueryGenerator.scala
  modules/store/src/test/scala/docspell/store/generator/ItemQueryGeneratorTest.scala
  website/site/content/docs/query/_index.md
Labels: restserver

#972 Update http4s-blaze-client, ... to 0.23.0
  project/Dependencies.scala
Labels: type: dependencies
